<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--  TODO REMOVE CREDENTIALS-->
  <!--  TODO SET CREDENTIALS after picking up to not to-->
  <ion-list>
    <ion-item>
      <ion-label>Save credentials</ion-label>
      <ion-toggle slot="end" [(ngModel)]="credentials" (ionChange)="updateCredentials()"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/" color="danger">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
